<% provide(:title, 'Contact') %>

<h1 class="page-title">Sample App</h1>

<h2>CS 232 Contact</h2>

<section class='main'>

    <p>
      This is the Contact page for the
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
    </p>

</section>

<dl>
    <dt>Email</dt>
    <dd>Contact us using our email address</dd>
</dl>
